<h1>Ankle Follow Up</h1>
<form>
	<p>
		<label for="anklePain">Ankle pain & where?</label>
		<input type="text" id="anklePain_fld"></p> 
		<p>
			<label for="footPain">Foot pain & where?</label>
			<input type="text" id="footPain_fld"></p> 
			<p>
				<label for="heelPain">Heel pain & where?</label>
				<input type="text" id="heelPain_fld"></p> 
				<p>
					<label for="toePain">Toe & web space pain & where?</label>
					<input type="text" id="toePain_fld"></p> 
					<p>
						<label for="legPain">Leg pain & where?</label>
						<input type="text" id="legPain_fld"></p> 

						<p>
							<label for="ankleSwelling">Ankle swelling & where?</label>
							<input type="text" id="ankleSwelling_fld">
						</p> 
						<p>
							<label for="footSwelling">Foot swelling & where?</label>
							<input type="text" id="footSwelling_fld">
						</p> 
						<p>
							<label for="heelSwelling">Heel swelling & where?</label>
							<input type="text" id="heelSwelling_fld">
						</p> 
						<p>
							<label for="toeSwelling">Toe & web space swelling & where?</label>
							<input type="text" id="toeSwelling_fld">
						</p> 
						<p>
							<label for="legSwelling">Leg swelling & where?</label>
							<input type="text" id="legSwelling_fld">
						</p> 

						<p>
							<label for="restPain">Pain Level with Rest:</label>
							<input type="text" id="restPain_fld">
						</p> 
						<p>
							<label for="activePain">Pain Level with Activity:</label>
							<input type="text" id="activePain_fld">
						</p> 
						<p>
							<label for="painDescription_fld">Describe the pain:</label>
							<input type="text" id="painDescription_fld" placeholder="(sharp, dull, deep aching, burning, shooting/radiating)"> 
						</p>
						<p>
							<label for="neurogenNeuropathPain">Neurogenic or Neuropathic Pain:</label>
							<input type="text" id="neurogenNeuropathPain_fld" placeholder="(burning, tingling, numbness, shooting/radiating, electrical shock like sensations, pain or discomfort with light touch)"> 
						</p>
						<p>
							<label for="painDiagram">Pain diagram complete?</label>
							<input type="text" id="painDiagram_fld" placeholder="Yes / No">
						</p> 
						<p>
							<label for="painControlled">Is the pain adequately controlled on the medication provided?</label> 
							<input type="text" id="painControlled_fld">
						</p>
						<p>
							<label for="difficultySleeping">Difficulty sleeping?</label>
							<input type="text" id="difficultySleeping_fld">
						</p> 
						<p>
							<label for="balanceDifficulty">Loss or balance or difficulty walking?</label>
							<input type="text" id="balanceDifficulty_fld">
						</p> 
					</form>

					<button id="copy-button">Build HPI</button>