<div class="row">

	<h3>HPI Templates</h3>
	<ul>
		
		<% @templates.each do |template| %>
		<li>
			<%= link_to template.name, template_path(template.id) %>
		</li>
		<% end %>
	</ul>

	<form method="get" action=<%= new_template_path %>>
		<button>New Template</button>
	</form>
	<form method="get" action=<%= template_settings_path %>>
		<button class="success">Edit Template</button>
	</form>
	
	<%= link_to "Exam Room", root_url %>

</div>