<div class="row">
	<h2>Edit HPI Templates</h2>
	Which template would you like to edit?

	<ul>
		
		<% @templates.each do |template| %>
		<li>
			<%= link_to template.name, edit_template_path(template.id) %>
		</li>
		<% end %>
	</ul>
	<h3><%= link_to 'Back to Templates', templates_path %></h3>
</div>