<div class="row">
	<h3>Edit HPI Templates</h3>
	Which template would you like to edit?

	<ul>
		
		<% @templates.each do |template| %>
		<li>
			<%= link_to template.name, edit_template_path(template.id) %>
		</li>
		<% end %>
	</ul>
</div>