<div class="row">

	<h1><%= @template.name %></h1>

	<% if @template.questions.any? %>
	<form>

		<% @questions.each do |question| %>
		<p><%= question.content %></p>

		<% end %>

		<button id="copy-button" data-reveal-id="myModal">Build HPI</button>
	</form>

	<% else %>  
		<h3>Add some questions to this Template.</h3>
		<%= link_to "Edit this Template", edit_template_path %> | 
	<% end %>

	<%= link_to "Template List", templates_path %>
</div>

<div id="myModal" class="reveal-modal" data-reveal>
	<a class="close-reveal-modal">&#215;</a>
</div>