<div id="root_footer"></div>
</div>

<div id="footer">
	<div class="row">
		<div class="small-6 small-offset-3 columns">
			<p>&copy 2014 <a href="http://github.com/averagegrod">Garrett Rodriguez</a></p>
		</div>

		<div class="small-3 columns">
			<p>
				<section class="controls">
					<button class="controls" data-theme="default"></button>
					<button class="controls" data-theme="yellow"></button>
					<button class="controls" data-theme="pink"></button>
					<button class="controls" data-theme="red"></button>
					<button class="controls" data-theme="blue"></button>
					<button class="controls" data-theme="green"></button>
					<button class="controls" data-theme="purple"></button>
				</section>
			</p>
		</div>
	</div>
</div>